<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Real Estate Analytics--Understanding Real Estate Markets Through Data Analytics">
  <meta name="author" content="Cheryl Sellers Johnson">

  <title>Real Estate Analytics</title>
  
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="../static/css/real-estate-analytics.css" rel="stylesheet">

  <!--  Import the d3 framework  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
 
  <!-- Import plotly library to create charts & graphs  -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Import Bonsai Library  -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bonsai/0.4/bonsai.min.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Real Estate Data Analytics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../Resources/real-estate-analytics-img.jpg" alt="Real Estate Analtyics">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Real Estate Data Analytics</h1>
        <p>Understanding Real Estate Markets through Data Analytics.</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Introduction Text Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">This presentation analyzes the impact of economic factors on the real estate markets and also builds a model for predicting real estate markets in the future based on these economic indicators.<br><br>
          The goal of our project is to predict the strength of the US real estate market based on certain economic and demographic indicators.<br>
          We will perform a historical analysis of the real estate market and the level of the various economic and demographic indicators over time.<br>
          We then will use this historical data with machine learning to set up a model that will predict the level of future real estate markets based on changes in the various economic and demographic factors.<br>
          For example, when unemployment is low and interest rates are low, we expect to see many buyers in the market purchasing homes.<br><br>
          Click on the first link below for identification of potential economic factors and analysis of whether they are indicators of real estate market performance.<br>
          The second link below will describe the real estate predictions model that we have developed.</p>
          Click the third link below to predict future real estate markets based on changes in specific economic indicators.</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Analysis of Economic Factors Affecting Real Estate</h2>
            <p class="card-text">Identification and Hypothesis Testing of Economic Factors that May Affect the Real Estate Markets.</p>
          </div>
          <div class="card-footer">
            <a href="economic-indicators-analysis.html" class="btn btn-primary btn-sm">Presentation & Charts</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Real Estate Market Data Model</h2>
            <p class="card-text">Development of the Real Estate Market Predictions Model.</p>
          </div>
          <div class="card-footer">
            <a href="real-estate-data-model.html" class="btn btn-primary btn-sm">Presentation & Charts</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Real Estate Market Predictions</h2>
            <p class="card-text">Predicting Changes to Real Estate Markets as Economic Indicators Change.</p>
          </div>
          <div class="card-footer">
            <a href="real-estate-predictions.html" class="btn btn-primary btn-sm">Presentation & Charts</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
